/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */
* {
  margin: 0;
  padding: 0;
}

html, body { height: 100%; }

body {
  background-color: #FFF;
  line-height: 1.8;
  font-size: 18px;
}
a
{
  color: #232323;
}
a:hover
{
  color: #333;
  text-decoration: none !important;
}
h1
{
  font-size: 48px;
  font-weight: 700;
  color: #009ADB;
}
h2
{
  font-size: 36px;
  font-weight: 700;
  color: #009ADB;
}
.site-header
{
  background-color: #2b3848;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
  color: #fff;
  border-top: 5px solid #009ADB;
  background-position: 50% 0px;
  background-image: url("/assets/images/bg.jpg");
}
.heroRow
{
  margin-top: 100px;
  margin-bottom: 50px;
}
.hero
{
  display: block;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  /*font-size: 104px;*/
}
.heroText
{
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  font-size: 48px;
}
.bubbleIcon
{
  height: 100px;
  width: 100px;
}
.bubbleTop
{
  height: 40px;
}
.mainContent
{
  margin-top: 40px;
}
.circle
{
  display: block;
  position: relative;
  border-radius: 50%;
  /*border: 6px solid #009ADB;*/
  background-color: #009ADB;
  width: 180px;
  height: 180px;
  margin: 0 auto 30px auto;
}
.circleText
{
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  font-size: 24px;
  font-weight: 100;
}
.circleHeader
{
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  font-size: 36px;
  font-weight: 100;
}
.video
{
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  background-color: #F2F2F2;
}
.videoPlayer
{
  margin-top: 40px;
  margin-bottom: 40px;
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 25px;
  height: 0;
}
.videoPlayer iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.button-footer
{
  background-color: #009ADB;
  padding-bottom: 40px;
}
.bottom
{
  background-color: #232323;
  height: 100px;
}
.buttonHeader
{
  margin-top: 40px;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  font-size: 42px;
  color: #FFF;
  font-weight: 100;
}
.buttonSubHeader
{
  margin-top: 20px;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  font-size: 24px;
  color: #FFF;
  font-weight: 100;
}
.button
{
  margin-top: 40px;
  display: block;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
}
/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/
.summary
{
  font-size: 24px;
}
