<!DOCTYPE html>
<html>
    <head prefix="og: http://ogp.me/ns#">
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <meta name="og:description" content="Instee is a social network for you to discover people locally based on your interests."/>
        <meta name="og:url" content="http://insteeapp.com"/>
        <meta name="og:site_name" content="Instee"/>
        <meta name="og:title" content="Discover Interesting People"/>
        <meta name="og:image" content="http://insteeapp.com/assets/images/logo1000.png"/>
        <meta name="og:image:type" content="image/png"/>
        <meta name="og:image:width" content="500"/>
        <meta name="og:image:height" content="300"/>
        <meta name="apple-itunes-app" content="app-id=884409070"/>
        <title>{{ page.title }}</title>


        <!-- Favicon -->
        <link rel="shortcut icon" href="/assets/images/favicon.ico" type="image/x-icon"/>
        <link rel="icon" href="/assets/images/favicon.ico" type="image/x-icon"/>

        <!-- Bootstrap core CSS -->
        <link href="/assets/bootstrap.min.css" rel="stylesheet"/>

        <!-- Custom styles for this template -->
        <link href="/assets/cover.css" rel="stylesheet"/>

        <!-- Video Popup -->
        <link href="/assets/magnific-popup.css" rel="stylesheet"/>

<!--Google Analytics-->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-57001018-1', 'auto');
  ga('send', 'pageview');

</script>

    </head>
    <body>
      {{content}}
    </body>

     <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="/assets/bootstrap.min.js"></script>
    <script src="/assets/docs.min.js"></script>
    <script src="/assets/jquery.magnific-popup.min.js"></script>
    <script>
    $(document).ready(function() {
     $('.video').magnificPopup({
        //src: 'http://vimeo.com/96970419',
        type: 'iframe'
       });
      });
     </script>
</html>
